
h1 {
    font-family: 'Titan One', cursive;
}

span {
    width: 277px;
    font-size: 58px;
    color: $color-text-primary;
}

.menu {
    display: flex;
    gap: 50px;
    justify-content: space-between;
    align-items: center;
    &__backgroud{
        background-color: $color-background;
    }
    &__link{
        position: relative;
        display: inline-block;
        color: #fff;
        &:hover {
            cursor: pointer;
            color: $color-primary;
        }
    }
    &__current {
        color: $color-primary;
    }
}

.header{
    &__parr1{
        color: white;
        font-size: 38px;
        margin: 10px;
    }
    &__div{
        display: flex;
        align-items:center;
    }
    &__img{
        display: block;
        margin: 40px 16px;
        width: 213px;
    }
    &__parr2{
        max-width: 200px;
        font-size: 14px;
        width: auto;
        margin: 10px;
        line-height: 19.6px;
        color: white;
        Weight:400;
    }
}

.circle{
    width: 534px;
    height: 534px;
    background-color: $color-secundary;
    border-radius: 50%;
}