
p {
    font-family: 'Titan One', cursive;
}

span {
    color: $color-text-primary;
}

.menu {
    display: flex;
    gap: 50px;
    justify-content: space-between;
    align-items: center;
    &__link{
        position: relative;
        display: inline-block;
        color: #fff;
        &:hover {
            cursor: pointer;
            color: $color-primary;
        }
    }
    &__current {
        color: $color-primary;

        
    }
}

.color-backgroud{
    background-color: $color-background;
}
