$main-font:"DM Sans";
$cafe-color: rgba(144, 126, 130, 1);
$secundary-color:rgba(255, 165, 186, 1);
$white-color:rgba(255, 255, 255, 1) ;
$cafe-bg-color:rgba(240, 209, 165, 1);
$foodtruck-bg-color:rgba(194, 226, 151, 1);
$main-color:rgba(212, 20, 67, 1);
$black-color:rgba(0, 0, 0, 1);
$theme-font:"Titan One";
