<section class="">
    <ul class="cafe">
        <li class="cafe__item">
            <h3 class="cafe__header">CAFE</h3>
            <h2 class="cafe__title">Chicago</h2>
            <p class="cafe__information border">Handcrafted coffee, baked goods, and premium ice cream.</p>
            <h2 class="cafe__title padding24">Monday - Friday</h2>
            <p class="cafe__time">06:00 AM - 10:00 PM</p> 
            <h2 class="cafe__title">Saturday - Sunday</h2>
            <p class="cafe__time border">08:00 AM - 16:00 PM</p>
            <p class="cafe__contact padding24">+61(0) 383 766 284</p>
            <p class="cafe__contact">noreply@envato.com</p>
        </li>

        <li class="cafe__item">
            <h3 class="foodtruck__header">FOODTRUCK</h3>
            <h2 class="cafe__title">Los Angeles</h2>
            <p class="cafe__information border">Fusion cuisine and refreshing ice cream made with passion.</p>
            <h2 class="cafe__title padding24">Monday - Friday</h2>
            <p class="cafe__time">06:00 AM - 10:00 PM</p> 
            <h2 class="cafe__title">Saturday - Sunday</h2>
            <p class="cafe__time border">08:00 AM - 16:00 PM</p>
            <p class="cafe__contact padding24">+61(0) 383 766 284</p>
            <p class="cafe__contact">noreply@envato.com</p>
        </li>

        <li class="cafe__item">
            <h3 class="cafe__header">CAFE</h3>
            <h2 class="cafe__title">New York</h2>
            <p class="cafe__information border">Specialty teas, artisanal pastries, mouth- watering ice cream.</p>
            <h2 class="cafe__title padding24">Monday - Friday</h2>
            <p class="time">06:00 AM - 10:00 PM</p> 
            <h2 class="cafe__title">Saturday - Sunday</h2>
            <p class="cafe__time border">08:00 AM - 16:00 PM</p>
            <p class="cafe__contact padding24">+61(0) 383 766 284</p>
            <p class="cafe__contact">noreply@envato.com</p>
        </li>
        

</section>