<footer >
    <ul class="footer__btn">
      <li>
        <button class="btn location-color">Our Locations</button>
        <svg class="arrow-icon svg-location-color" width="7" height="10">
          <use href="./images/icons.svg#arrow">
          </use>
        </svg> 
      </li>
      <li>
        <button class="btn franchise-color">Franchise</button>
        <svg class="arrow-icon svg-franchise-color" width="7" height="10">
          <use href="./images/icons.svg#arrow">
          </use>
        </svg> 
      </li>
    </ul>
    
    <div class="footer__container">
      
        <ul class="footer__text">
          <p class="footer__text--made">HOMEMADE ICE CREAM MADE</p>
          <p class="footer__text--passion">WITH PASSION</p>
        </ul>

        <div>

          <ul class="footer__icons">
            <li>
              <svg class="footer__icon" width="32" height="32">
                <use href="./images/icons.svg#github">
                </use>
              </svg> 
            </li>
            <li>
              <svg class="footer__icon" width="32" height="32">
                <use href="./images/icons.svg#telegram">
                </use>
              </svg> 
            </li>
            <li>
              <svg class="footer__icon" width="32" height="32">
                <use href="./images/icons.svg#facebook">
                </use>
              </svg> 
            </li>
          </ul>
        
          <div class="footer__contacs">
            <p class="footer__contacs--text">Feel free to contact</p>
            <a class="footer__contacs--phone" href="">+61 (0) 383 766 284</a>
          </div>
        </div>  
    </div>
    <ul class="footer__rights">
      <li><p>© 2022 - IceCream.</p></li>
      <li><p>All Rights Reserved.</p></li>
    </ul>

  </footer>