<header class="container menu__backgroud">
    <nav class="menu">
        <svg>
            <use xlink:href="/src/images/icons.svg#icon-icono"></use>
        </svg>
        <ul class="menu">
            <li><a class="menu__link menu__current" href="#">Home</a></li>
            <li><a class="menu__link" href="#">About us</a></li>
            <li><a class="menu__link" href="#">How it’s made?</a></li>
            <li><a class="menu__link" href="#">Our products</a></li>
            <li><a class="menu__link" href="#">Contact</a></li>
        </ul>
        <button>Buy now  ></button>
    </nav>
    <section class="menu">
        <div>
            <h1 class="header__parr1">ICE CREAM  <br>MADE WITH  <br> <span>PASSION</span></h1>
            <button>Products</button>
            <button>How it’s made?</button>
            <div class="header__div">
                <img class="header__img" src="/src/images/slider-1.png" alt="">
                <p class="header__parr2">Indulge in a scoop of ice cream made with passion and treat your taste buds to an unforgettable experience!</p>
            </div>
        </div>
        <div class="circle">
            <img src="/src/images/slider-2.png" alt="">
            <img src="/src/images/slider-3.png" alt="">
        </div>
    </section>
</header>