<header class="container menu__backgroud">
    <nav class="menu">
        <svg>
            <use xlink:href="/src/images/icons.svg#icon-icono"></use>
        </svg>
        <ul class="menu">
            <li><a class="menu__link menu__current" href="#">Home</a></li>
            <li><a class="menu__link" href="#">About us</a></li>
            <li><a class="menu__link" href="#">How it’s made?</a></li>
            <li><a class="menu__link" href="#">Our products</a></li>
            <li><a class="menu__link" href="#">Contact</a></li>
        </ul>
        <button class="header__button">Buy now  ></button>
    </nav>
    <section class="menu">
        <div>
            <h1 class="header__parr1">ICE CREAM  <br>MADE WITH  <br> <span class="span">PASSION</span></h1>
            <button class="header__button">Products</button>
            <button class="header__button">How it’s made?</button>
            <div class="header__div">
                <img class="header__img" src="/src/images/slider-1.png" alt="">
                <p class="header__parr2">Indulge in a scoop of ice cream made with passion and treat your taste buds to an unforgettable experience!</p>
            </div>
        </div>
            <img src="/src/images/slider-2.png" alt="Helado" width="226">
        <div class="header__img-ontainer">
            <img class="header__cafes" src="/src/images/cafes.png" alt="Cafes">
            <img class="header__cafes" src="/src/images/food.png" alt="Food">
            <img class="header__img3" src="/src/images/slider-3.png" alt="Modelo con helado">
        </div>
        <!-- <div class="header__circle"></div>
        <div>
        </div> -->
    </section>
</header>
