<section>
<p class="products__text">100% NATURAL</p>
<h1 class="products__header">PRODUCTS</h1>

<ul class="products">
    <li class="poducts__item icecream-bgcolor">

        <picture class="products__image">
            <source media="(min-width: 1200px)" 
                  srcset="./images/icecream-desktop.png 1x, ./images/icecream-desktop.png 2x" type="image/png" />
            <source media="(min-width: 768px)"
                  srcset="./images/icecream-tablet.png 1x, ./images/icecream-tablet.png 2x" type="image/png" />
            <source media="(min-width: 450px)"
                  srcset="./images/icecream-mobile.png 1x, ./images/icecream-mobile.png 2x" type="image/png" />
            <img src="./images/icecream-mobile.png" alt="helado de fresa" />
        </picture>

      
        <h2 class="products__class">ICE CREAM</h2>
        <ul class="points">
            <li>
                <svg class="point" width="6" height="6">
                    <use href="./images/iconss.svg#dot">
                    </use>
                  </svg> 
            </li>
            <li>
                <svg class="point" width="6" height="6">
                    <use href="./images/iconss.svg#dot">
                    </use>
                  </svg> 
            </li>
            <li>
                <svg class="point" width="6" height="6">
                    <use href="./images/iconss.svg#dot">
                    </use>
                  </svg> 
            </li>
        </ul>
        <p class="products__description">Indulge in our rich and creamy ice cream, handcrafted with all-natural ingredients and available in a variety of flavors.</p>
        <img class="arrow-right" src="./images/arrow-right.png" alt="flecha para cambiar">
        
    </li>

    <li class="poducts__item icecoffe-bgcolor">

        <picture class="products__image">
            <source media="(min-width: 1200px)" 
                  srcset="./images/icecoffe-desktop.png 1x, ./images/icecoffe-desktop.png 2x" type="image/png" />
            <source media="(min-width: 768px)"
                  srcset="./images/icecoffe-tablet.png 1x, ./images/icecoffe-tablet.png 2x" type="image/png" />
            <source media="(min-width: 450px)"
                  srcset="./images/icecoffe-mobile.png 1x, ./images/icecoffe-mobile.png 2x" type="image/png" />
            <img src="./images/icecoffe-mobile.png" alt="imagen de cafe helado" />
        </picture>

        
        <h2 class="products__class">ICE CREAM</h2>
        <ul class="points">
            <li>
                <svg class="point" width="6" height="6">
                    <use href="./images/iconss.svg#dot">
                    </use>
                  </svg> 
            </li>
            <li>
                <svg class="point" width="6" height="6">
                    <use href="./images/iconss.svg#dot">
                    </use>
                  </svg> 
            </li>
            <li>
                <svg class="point" width="6" height="6">
                    <use href="./images/iconss.svg#dot">
                    </use>
                  </svg> 
            </li>
        </ul>
        <p class="products__description">Indulge in our rich and creamy ice cream, handcrafted with all-natural ingredients and available in a variety of flavors.</p>
        <img class="arrow-right" src="./images/arrow-right.png" alt="flecha para cambiar">
        
    </li>

    <li class="poducts__item milkshake-bgcolor">

        <picture class="products__image">
            <source media="(min-width: 1200px)" 
                  srcset="./images/milkshake-desktop.png 1x, ./images/milkshake-desktop.png 2x" type="image/png" />
            <source media="(min-width: 768px)"
                  srcset="./images/milkshake-tablet.png 1x, ./images/milkshake-tablet.png 2x" type="image/png" />
            <source media="(min-width: 450px)"
                  srcset="./images/milkshake-mobile.png 1x, ./images/milkshake-mobile.png 2x" type="image/png" />
            <img src="./images/milkshake-mobile.png" alt="imagen de milkshake" />
        </picture>

        
        <h2 class="products__class">ICE CREAM</h2>
        <ul class="points">
            <li>
                <svg class="point" width="6" height="6">
                    <use href="./images/iconss.svg#dot">
                    </use>
                  </svg> 
            </li>
            <li>
                <svg class="point" width="6" height="6">
                    <use href="./images/iconss.svg#dot">
                    </use>
                  </svg> 
            </li>
            <li>
                <svg class="point" width="6" height="6">
                    <use href="./images/iconss.svg#dot">
                    </use>
                  </svg> 
            </li>
        </ul>
        <p class="products__description">Indulge in our rich and creamy ice cream, handcrafted with all-natural ingredients and available in a variety of flavors.</p>
        <img class="arrow-right" src="./images/arrow-right.png" alt="flecha para cambiar">
        
    </li>
    
</ul>

</section>