<div class="testimonial container">

    <picture>
      <source media="(min-width: 1200px)" 
            srcset="./images/collage-desktop.png 1x, ./images/collage-desktop.png 2x" type="image/png" />
      <source media="(min-width: 768px)"
            srcset="./images/collage-tablet.png 1x, ./images/collage-tablet.png 2x" type="image/png" />
      <source media="(min-width: 450px)"
            srcset="./images/collage-mobile.png 1x, ./images/collage-mobile.png 2x" type="image/png" />
      <img src="./images/collage-mobile.png"  alt="collage de sabores de helados" />
    </picture>

    <img class="testimonial__img" src="./images/testimonials.jpg"  alt="fotografia de emily">
    
    <div class="testimonial__box">
        <p class="testimonial__text">
            I love visiting your cafe. You prepare the most delicious ice cream in Los Angeles! In addition, you have beautiful serving, cozy atmosphere and polite staff.
        </p>
    </div>

    <ul class="testimonial__box--pass">
        <li>
            <svg class="dots" width="4" height="4">
              <use href="./images/iconss.svg#dot">
              </use>
            </svg> 
        </li>
        <li>
            <svg class="dots" width="4" height="4">
              <use href="./images/iconss.svg#dot">
              </use>
            </svg> 
        </li>
        <li>
            <svg class="dots" width="4" height="4">
              <use href="./images/iconss.svg#dot">
              </use>
            </svg> 
        </li>
    </ul>

    <p class="testimonial__user">Emily, Los Angeles</p>

    <ul class="testimonial__box--return">
        <li>
            <svg class="home" width="12.4" height="11.84">
              <use href="./images/iconss.svg#home">
              </use>
            </svg> 
        </li>
        <li>
            <svg class="home" width="12" height="12">
              <use href="./images/iconss.svg#circle">
              </use>
            </svg> 
        </li>
        <li>
            <svg class="home" width="12" height="12">
              <use href="./images/iconss.svg#circle">
              </use>
            </svg> 
        </li>
    </ul>

</div>