<section class="cont-trad">
    <div class="img--back">
        <div class="trad">
            <h3 class="trad__p1">TRADITION AND LOVE</h3>
            <p class="trad__p2">how it’s made?</p>
            <div class="trad__column">
                <img class="trad__img" src="/src/images/icecream4.png" alt="Lacteos naturales">
                <div class="trad__row">
                    <p class="trad__p3">
                        Ice is a place where you will become not only 
                        a little happier, but also healthier. Health 
                        is the main value for us, and we follow it 
                        when creating our handmade desserts.
                    </p>
                    <p class="trad__p4">
                        We use traditional recipes and 100% natural 
                        ingredients. Our products are so natural that 
                        they can be given to children from the age of 
                        three years. Sweets lovers can expect 55 
                        types of ice cream, 15 types of coffee and 
                        23 milkshakes. 
                    </p>
                    <button class="trad__button1">Red more  ></button>
                </div>
            </div>
            <div class="trad__con">
                <div class="trad__svgs">
                    <svg>
                        <use 
                            href="./images/icons.svg#icon-icon1">
                        </use>
                    </svg>
                    <p class="trad__p5">721</p>
                    <p class="trad__p6">At 721 Cow, we're passionate about producing the highest quality ice cream possible.</p>
                </div>
                <div class="trad__svgs">
                    <svg>
                        <use 
                            href="./images/icons.svg#icon-icon2">
                        </use>
                    </svg>
                    <p class="trad__p5">16kg</p>
                    <p class="trad__p6">You can be sure you're getting a scoop of the freshest ice cream around.</p>
                </div>
                <div class="trad__svgs">
                    <svg>
                        <use 
                            href="./images/icons.svg#icon-icon3">
                        </use>
                    </svg>
                    <p class="trad__p5">84</p>
                    <p class="trad__p6">We use only the freshest, locally-sourced ingredients to make our 84 unique and delicious flavors.</p>
                </div>
            </div>
        </div>
    </div>

</section>